 .u-section-1 {
  background-image: url("images/background.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 874px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  margin: 233px 346px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 900;
  text-shadow: 2px 2px 7px rgba(255,255,255,0.8);
  margin: 21px 627px 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 21px auto 60px 0;
  padding: 16px 51px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 721px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 146px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 427px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 552px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 232px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 207px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 63px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 27px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 261px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 786px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 666px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  font-size: 1.5rem;
  line-height: 1.2;
  text-align: left;
  font-weight: 700;
  margin: 65px 60px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 72px auto 0 0;
  padding: 0;
}

.u-section-2 .u-icon-1 {
  font-size: 1.2em;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 666px;
}

.u-section-2 .u-container-layout-2 {
  padding: 29px 30px;
}

.u-section-2 .u-image-1 {
  width: 255px;
  height: 292px;
  margin: 1px 0 0 auto;
}

.u-section-2 .u-image-2 {
  width: 255px;
  height: 292px;
  margin: 23px auto 0 0;
}

.u-section-2 .u-group-1 {
  min-height: 252px;
  width: 259px;
  margin: -430px 103px 0 auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  font-size: 3rem;
  font-weight: 700;
  background-image: none;
  margin: 0 5px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 669px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 549px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 549px;
  }

  .u-section-2 .u-image-1 {
    width: 205px;
    height: 234px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 541px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 707px;
  }

  .u-section-2 .u-image-1 {
    width: 218px;
    height: 341px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 14px;
  }

  .u-section-2 .u-group-1 {
    min-height: 184px;
    width: 233px;
    margin-top: -398px;
    margin-right: 21px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 852px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 677px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 0 10px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 30px;
  }

  .u-section-2 .u-group-1 {
    margin-right: 41px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    width: 185px;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 618px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 626px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 10px;
  }

  .u-section-2 .u-group-1 {
    min-height: 204px;
    width: 210px;
    margin-top: -407px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 1.5rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 636px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 61px 365px 0 0;
}

.u-section-3 .u-text-2 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
  font-size: 1.125rem;
  line-height: 1.6;
  margin: 71px 0 0 570px;
}

.u-section-3 .u-group-1 {
  width: 120px;
  min-height: 157px;
  margin: -189px auto 32px 225px;
}

.u-section-3 .u-image-1 {
  width: 103px;
  height: 103px;
  margin: 0 8px 0 auto;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  margin: 25px 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 165px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 350px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    margin-left: 170px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-group-1 {
    margin-left: 220px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 793px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 703px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-image-1 {
  height: 425px;
  width: 425px;
  object-position: 0% 50%;
  margin: 112px auto 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 703px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  height: 291px;
  width: 291px;
  object-position: 78.44% 50%;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-4 .u-btn-1 {
  font-size: 1rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 21px auto 0 0;
  padding: 17px 54px 18px 53px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 580px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 580px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 190px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-image-1 {
    height: 335px;
    width: 335px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-image-2 {
    height: 235px;
    width: 235px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 290px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    height: 320px;
    width: 320px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 800px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 60px 570px 0 0;
}

.u-section-5 .u-list-1 {
  width: 928px;
  margin: 30px 0 60px auto;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: 50% 50%;
  min-height: 1088px;
  grid-gap: 0px 0px;
}

.u-section-5 .u-list-item-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 30px 10px;
}

.u-section-5 .u-image-1 {
  height: 296px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-5 .u-text-3 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-5 .u-icon-1 {
  width: 48px;
  height: 48px;
  margin: 30px auto 0 0;
}

.u-section-5 .u-list-item-2 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 30px 10px;
}

.u-section-5 .u-image-2 {
  height: 296px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-5 .u-text-5 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-5 .u-icon-2 {
  width: 48px;
  height: 48px;
  margin: 30px auto 0 0;
}

.u-section-5 .u-list-item-3 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 30px 10px;
}

.u-section-5 .u-image-3 {
  height: 296px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-5 .u-text-7 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-5 .u-icon-3 {
  width: 48px;
  height: 48px;
  margin: 30px auto 0 0;
}

.u-section-5 .u-list-item-4 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px 30px 10px;
}

.u-section-5 .u-image-4 {
  height: 296px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 59.97%;
}

.u-section-5 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-5 .u-text-9 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-5 .u-icon-4 {
  width: 48px;
  height: 48px;
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    width: auto;
    margin-right: 333px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1694px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 301px;
    font-size: 2.25rem;
  }

  .u-section-5 .u-list-1 {
    width: 720px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-image-1 {
    height: 484px;
  }

  .u-section-5 .u-image-2 {
    height: 484px;
  }

  .u-section-5 .u-image-3 {
    height: 484px;
  }

  .u-section-5 .u-image-4 {
    height: 484px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1487px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 121px;
  }

  .u-section-5 .u-list-1 {
    width: 540px;
    margin-bottom: -147px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    height: 381px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    height: 381px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    height: 381px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-4 {
    height: 381px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1244px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-list-1 {
    width: 340px;
    margin-bottom: -390px;
  }

  .u-section-5 .u-image-1 {
    height: 234px;
  }

  .u-section-5 .u-image-2 {
    height: 234px;
  }

  .u-section-5 .u-image-3 {
    height: 234px;
  }

  .u-section-5 .u-image-4 {
    height: 234px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 588px;
}

.u-section-6 .u-tabs-1 {
  min-height: 494px;
  margin-top: 60px;
  margin-bottom: 34px;
}

.u-section-6 .u-tab-link-1 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-6 .u-tab-link-2 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-6 .u-tab-link-3 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-6 .u-tab-pane-1 {
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 24px 30px;
}

.u-section-6 .u-image-1 {
  width: 420px;
  height: 367px;
  margin: 6px auto 0 0;
}

.u-section-6 .u-text-1 {
  margin: -367px 0 0 522px;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 40px 0 0 522px;
}

.u-section-6 .u-tab-pane-2 {
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 0;
}

.u-section-6 .u-text-3 {
  line-height: 1.8;
  margin: 36px 22px 0 460px;
}

.u-section-6 .u-image-2 {
  width: 393px;
  height: 273px;
  margin: -154px auto 0 15px;
}

.u-section-6 .u-text-4 {
  margin: -86px 22px 0 460px;
}

.u-section-6 .u-tab-pane-3 {
  background-image: none;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-text-5 {
  margin: 0 465px 0 0;
}

.u-section-6 .u-image-3 {
  width: 434px;
  height: 257px;
  margin: -56px 0 0 auto;
}

.u-section-6 .u-text-6 {
  margin: -170px 465px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-tabs-1 {
    height: auto;
  }

  .u-section-6 .u-image-1 {
    height: 402px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: -402px;
    margin-left: 451px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-left: 451px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 282px;
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
    margin-left: 282px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 265px;
  }

  .u-section-6 .u-image-3 {
    width: 540px;
    height: 320px;
  }

  .u-section-6 .u-text-6 {
    margin-top: -233px;
    margin-right: 265px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-image-1 {
    width: 303px;
    height: 427px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -427px;
    margin-left: 330px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 330px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 62px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 62px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 45px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 45px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    width: 178px;
    height: 178px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -177px;
    margin-left: 190px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 190px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 0;
  }

  .u-section-6 .u-image-3 {
    width: 520px;
    height: 308px;
  }

  .u-section-6 .u-text-6 {
    margin-top: -221px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-tabs-1 {
    min-height: 763px;
  }

  .u-section-6 .u-image-1 {
    height: 226px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-1 {
    margin-top: 14px;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    margin-top: 17px;
    margin-left: 0;
  }

  .u-section-6 .u-image-2 {
    width: 340px;
    height: 236px;
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    margin-top: -49px;
  }

  .u-section-6 .u-image-3 {
    width: 320px;
    height: 190px;
    margin-top: -31px;
  }

  .u-section-6 .u-text-6 {
    margin-top: -128px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 325px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 34px;
  margin-bottom: 34px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 257px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
  font-size: 2.25rem;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  margin: 47px 6px 0;
}

.u-section-7 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 34px 86px 0 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 257px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 26px;
}

.u-section-7 .u-text-4 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto 0 4px;
}

.u-section-7 .u-text-5 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 38px 8px 0 0;
}

.u-section-7 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 30px auto 0 0;
}

.u-section-7 .u-icon-1 {
  height: 100%;
}

.u-section-7 .u-icon-2 {
  height: 100%;
}

.u-section-7 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 456px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 212px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-3 {
    margin-right: 13px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 212px;
  }

  .u-section-7 .u-text-5 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 272px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 372px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}